/* general */

body {
    margin: 0 auto;
    max-width: 1200px;
}

.dark {
    box-shadow: 0 0 0 100vmax #1F2937;
    clip-path: inset(0 -100vmax);
    background-color: #1F2937;
    color: white;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0px;
}

.pageLinks {
    display: flex;
    gap: 32px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.link {
    font-size: 18px;
    color: #E5E7Eb;
    text-decoration: none;
}

/* main */

.main {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 125px 0;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
}

.mainSubheading {
    font-size: 18px;
    color: #E5E7Eb;
    margin: 0;
}

.mainImage {
    width: 300px;
    height: 150px;
}

button {
    background-color: #3882F6;
    color: white;
    border: #3882F6;
    padding: 8px 16px;
    border-radius: 4px;
}

/* Facts */

.facts {
    padding: 50px 0 125px 0;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.factsContainer {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.factsImage {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 16px;
}

.factsSubtext {
    max-width: 150px;
    text-align: center;
    color: #1F2937;
}