/* general */

body {
    margin: 0 auto;
    max-width: 1200px;
}

.dark {
    box-shadow: 0 0 0 100vmax #1F2937;
    clip-path: inset(0 -100vmax);
    background-color: #1F2937;
    color: white;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0px;
}

.pageLinks {
    display: flex;
    gap: 32px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.link {
    font-size: 18px;
    color: #E5E7Eb;
    text-decoration: none;
}

/* main */

.main {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 125px 0;
}

.mainContent {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.mainSubheading {
    font-size: 18px;
    color: #E5E7Eb;
    margin: 0;
}

.mainImage {
    width: 450px;
}

button {
    background-color: #3882F6;
    color: white;
    border: #3882F6;
    padding: 8px 16px;
    border-radius: 4px;
}

/* Facts */

.facts {
    padding: 50px 0 125px 0;
}

.factsHeading {
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.factsContainer {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.factsImage {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 16px;
}

.factsSubtext {
    max-width: 150px;
    text-align: center;
    color: #1F2937;
}

/* quote section */

.grey {
    box-shadow: 0 0 0 100vmax #E5E7EB;
    clip-path: inset(0 -100vmax);
    background-color: #E5E7EB;
    color: white;
    width: 750px;
    margin: 0 auto;
    padding: 50px 0;
}

.quote {
    font-size: 36px;
    font-weight: 50;
    font-style: italic;
    color: #1F2937;
}

.speaker {
    color: #1F2937;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}

/* call to action section */

.callToAction {
    background-color: #3882F6;
    border-radius: 25px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px
}

.actionContainer {
    padding: 25px;
}

.actionHeading,
.actionText {
    margin: 8px 0;
    color: white;
}

.actionButton {
    border: 2px solid white;
    padding: 8px 24px;
    font-weight: bold;
}

